<div class="container">
    <div class="row">
        <div class="col px-0">
            <h2 class="text-center pt-4">Deliver a Package</h2>
            <form>
                <div class="form-group col-md-12">
                    <app-autocomplete-address placeholder="Enter Origin" (addressChange)="originReceived($event)"></app-autocomplete-address>
                </div>
                <div class="form-group col-md-12">
                    <app-autocomplete-address placeholder="Enter Destination" (addressChange)="destinationReceived($event)"></app-autocomplete-address>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-dark">Estimate Cost</button>
                </div>
                
            </form>
            
        </div>
        <div class="col px-0 pt-3">
            <app-interactive-map [origin]="origin" [destination]="destination" ></app-interactive-map>
        </div>
    </div>
</div>
